### Lists

- Program to find largest frequency element from given list

In [9]:
li1 = [1,3,4,3,1,4,6,8]

def freqLargest(li1):
    largestFreq = li1[0]
    countVar = li1.count(li1[0])
    freq = []
    for var in li1:
        if(li1.count(var) > countVar):
            largestFreq = var
            countVar = li1.count(var)
        elif(li1.count(var) == countVar):
            if(var not in freq):
                freq.append(var)
            
            
    return freq
freqLargest(li1)

[1, 3, 4]

#### Tuple
- Immutable List
- Data represented in ()

In [11]:
t = () # empty tuple

In [12]:
names = ('srinu', 'ravi', 'avinash', 'praveen')

In [13]:
names[0]

'srinu'

In [14]:
names[-1]

'praveen'

In [15]:
names[1:4]

('ravi', 'avinash', 'praveen')

In [16]:
names.count('ravi')

1

In [17]:
names.count('praveen')

1

In [18]:
names.index('srinu')

0

In [19]:
names

('srinu', 'ravi', 'avinash', 'praveen')

In [20]:
names = list(names)
names

['srinu', 'ravi', 'avinash', 'praveen']

In [21]:
names.extend([1,2,3])

In [22]:
names

['srinu', 'ravi', 'avinash', 'praveen', 1, 2, 3]

In [23]:
names = tuple(names)
names

('srinu', 'ravi', 'avinash', 'praveen', 1, 2, 3)

#### Dictionary
- Unordered collection of data
- Data represented in {}
- Dictionary contains items, each item consists of key : value

In [24]:
data = {} # empty dictionary
type(data)

dict

In [25]:
student = {'name' : 'venkat', 'branch' : 'cse', 'city' : 'vijayawda',
          'dno' : '32'}

In [26]:
student.keys() # returns keys

dict_keys(['name', 'branch', 'city', 'dno'])

In [27]:
student.values() # returns values

dict_values(['venkat', 'cse', 'vijayawda', '32'])

In [28]:
student.items()

dict_items([('name', 'venkat'), ('branch', 'cse'), ('city', 'vijayawda'), ('dno', '32')])

In [29]:
# acessing data using keys
student['name']

'venkat'

In [30]:
student['branch']

'cse'

In [31]:
student.get('city')

'vijayawda'

In [32]:
student

{'name': 'venkat', 'branch': 'cse', 'city': 'vijayawda', 'dno': '32'}

In [33]:
student['name'] = 'venkata gopi'

In [34]:
student

{'name': 'venkata gopi', 'branch': 'cse', 'city': 'vijayawda', 'dno': '32'}

In [35]:
student['marks'] = 60

In [36]:
student

{'name': 'venkata gopi',
 'branch': 'cse',
 'city': 'vijayawda',
 'dno': '32',
 'marks': 60}

In [37]:
student.update({'hobby':'watching movies'})

In [38]:
student

{'name': 'venkata gopi',
 'branch': 'cse',
 'city': 'vijayawda',
 'dno': '32',
 'marks': 60,
 'hobby': 'watching movies'}

In [39]:
# delete
student.pop('dno')

'32'

In [40]:
student

{'name': 'venkata gopi',
 'branch': 'cse',
 'city': 'vijayawda',
 'marks': 60,
 'hobby': 'watching movies'}

In [41]:
student.popitem() # automatically deletes any one of item randomly

('hobby', 'watching movies')

In [42]:
student.popitem() # automatically deletes any one of item randomly

('marks', 60)

In [44]:
del student['city']

In [45]:
student

{'name': 'venkata gopi', 'branch': 'cse'}

In [46]:
student.clear()

In [47]:
student

{}

In [48]:
cities = ['vij', 'gnt', 'viz', 'tpt']
# output - {0:'vij',1:'gnt',2:'viz',3:'tpt'}

In [51]:
d = {} # empty dict
for var in range(len(cities)):
    #d[cities.index(var)] = var
    d[var] = cities[var]
print(d)

{0: 'vij', 1: 'gnt', 2: 'viz', 3: 'tpt'}

In [53]:
websites = ['www.google.com', 'www.facebook.com', 'www.gmail.com',
            'www.google.com','www.google.com', 'www.facebook.com']
#{'google' : 3, 'facebook' :2, 'gmail' : 1}

In [56]:
websites_freq = {} # empty dict
for website in websites:
    freq = websites.count(website)
    a = website.split('.')
    print(a)
    name = a[1]
    websites_freq[name] = freq
websites_freq

['www', 'google', 'com']
['www', 'facebook', 'com']
['www', 'gmail', 'com']
['www', 'google', 'com']
['www', 'google', 'com']
['www', 'facebook', 'com']

{'google': 3, 'facebook': 2, 'gmail': 1}

- Find kth largest freq element from list

In [57]:
numbers = [1,3,2,1,2,3,2,1,7]

In [69]:
# unique elements
k = int(input())
unique = []
for var in numbers:
    if var not in unique:
        unique.append(var)
print(unique)
freq = {}
for var1 in unique:
    freq[var1] = numbers.count(var1)
print(freq)
a = sorted(freq.values(), reverse = True)
b = a[k-1]
for var2 in freq.items():
    if(var2[1] == b):
        print(var2[0])

4
[1, 3, 2, 7]
{1: 3, 3: 2, 2: 3, 7: 1}
7

#### Functional Programming

- Map Function
- Creating Functions using Lambda keyword
- Filter Function
- List Comprehension

In [71]:
s = input()
numbers = []
for i in s.split():
    numbers.append(int(i))
numbers

1 2 3 4 5

[1, 2, 3, 4, 5]

In [73]:
# map(functionName, iterable)
list(map(int, input('Enter space separated elements: ').split()))

Enter space separated elements: 1 2 3 4 5

[1, 2, 3, 4, 5]