#### Python Programming
- Introduction to python
- Applications of python
- Introduction to Anaconda Software & jupyter notebook environment

##### sudo apt-get install python3-pip
##### pip install jupyter
##### jupyter notebook

##### keywords in python

In [1]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

#### Data Types
- int
- float
- string

In [2]:
a = 2
a

2

In [3]:
type(a) # returns data type of value

int

In [5]:
print(type(7.5))
print(type('python'))

<class 'float'>
<class 'str'>

In [6]:
a,b = 1,'z'

In [7]:
print(a)

1

In [8]:
print(b)

z

##### Operators in python
- Arthimetic
- Logical
- Bitwise
- Assignment
- comparison
- Identity
- Membership

In [9]:
4/2

2.0

In [10]:
4//2 # floor divison

2

In [11]:
4 % 2

0

In [12]:
True and True

True

In [13]:
True or False

True

In [15]:
2 & 3

2

In [16]:
2 | 3

3

In [17]:
4 >= 5

False

In [18]:
2 is 3

False

In [19]:
2 is not 3

True

In [20]:
'v' in 'monday'

False

In [21]:
'a' in 'monday'

True

In [22]:
values = [1,234,34,545,543]

In [23]:
234 in values

True

In [24]:
500 not in values

True

#### conditonal statements
- if
- elif
- else

In [30]:
# example for if condition
a=int(input('Enter input b/w 1 to 9: '))
#print(a,type(a))
b=int(input('Enter input b/w 1 to 9: '))
if(a>b):
    print(a,'is bigger than',b)
elif(a==b):
    print(a,b,'both are same')
else:
    print(b,'is bigger than',a)

Enter input b/w 1 to 9: 5
Enter input b/w 1 to 9: 5
5 5 both are same

##### find the largest of three numbers
##### simple caluclator

#### Iterations
- for
- while

In [40]:
for var in range(10,0,-1):
    print(var, end=' ')

10 9 8 7 6 5 4 3 2 1

In [37]:
for var in 'programming':
    print(var, end = ' ')

p r o g r a m m i n g

In [41]:
for var in ['sasass',4,5.7]:
    print(var, end = ' ')

sasass 4 5.7

In [42]:
# print mathematical table for a given value
v = int(input('Enter a number: '))
for var in range(1,11):
    print(v,'*',var,'=',var*v)

Enter a number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [44]:
d = int(input('Enter number:'))
for var1 in range(1,d+1):
    for var2 in range(1,11):
        print(var1,'*',var2,'=',var1*var2)
    print()

Enter number:4
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40