##### Data Structure
- List
- Tuple
- Dictionary
- Set

#### List
- We can store different kinds of data in list
- It is represented in square brackets

In [1]:
a = [1,3.5,'python',4783,9.5]

In [2]:
a

[1, 3.5, 'python', 4783, 9.5]

In [3]:
a[0]

1

In [4]:
a[1]

3.5

In [5]:
a[-1]

9.5

In [7]:
a = [] # empty list

type(a)

list

#### List Methods

In [8]:
list1 = [32,21.43,'abcs',329]

In [9]:
list1.append('april')

In [10]:
list1

[32, 21.43, 'abcs', 329, 'april']

In [12]:
list1.append([89,22,'fjhjdsjks'])

In [13]:
list1

[32, 21.43, 'abcs', 329, 'april', [89, 22, 'fjhjdsjks']]

In [15]:
list1[5][1]

22

In [16]:
list1

[32, 21.43, 'abcs', 329, 'april', [89, 22, 'fjhjdsjks']]

In [17]:
list1.extend([4,44,444])

In [18]:
list1

[32, 21.43, 'abcs', 329, 'april', [89, 22, 'fjhjdsjks'], 4, 44, 444]

In [ ]:
list1.insert()